@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

body {
  font-size: 14px;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1:first-child {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

h1 + p {
  text-align: right;
}

table {
  font-size: 13px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #c7e1ef;
  padding: 5px;
}

tr:nth-child(even) {
  /* background-color: #f2f2f2; */
  background-color: #ebf3f8;
}

tr:hover {
  background-color: #c7e1ef;
}

th {
  text-align: left;
  /* background-color: #ddd; */
  background-color: #c7e1ef;
}

hr {
  border-top: 1px solid #c7e1ef;
  margin: 30px 0;
}
