---
---

@import "{{ site.theme }}";

a.btn {
  display: none;
}

.page-header {
  background-color: #333;
  background-image: none;
}

.project-tagline {
  text-align: right;
}

.main-content {
  font-size: 1rem;

  & :is(h1, h2, h3, h4, h5, h6) {
    color: #333;
  }

  & h1,
  & h1 + p {
    display: none;
  }
}

.site-footer {
  display: none;
}
